/* Geral */
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#home{
	height: 100vh;
	overflow-x: hidden;
}

:root {
    --rosa2: #9303A6;
    --roxo: #18161b;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #9e9e9e;
    --card: #141414;
    --degrade: linear-gradient(to right,#000000, #331c52);
}

/*Modo clean */
.clean_mode{
  --preto: #FFFfFF;
  --branco: #000000;
  --cinza: #303030;
  --degrade: linear-gradient(to left,#a685c2,#ffffff);
  --card: #e8dcf3;
}


body {
  background: var(--degrade);
}



/* Header */
header {
  & .navbar {
    background: var(--degrade);
    height: 80px;

    & .nav-link {
      color: var(--branco);
      font-weight: 900;
      font-size: 18px;
      text-decoration: none;

      &:hover{    
          color: var(--rosa2);
          transform: scale(1.2); 
          transition: transform 0.5s ease; 
      }
    }
  }

  & .navbar h3{
    color: var(--branco);
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
    transition: transform 0.5s ease;
  }

  & .navbar-nav {
    flex: 1; 
    justify-content: end; 
  }

  & .navbar-toggler {
    border: none; 
    padding: 0.5rem; 
    color: var(--rosa2);

    &:hover {
      color: var(--branco);
      transform: scale(1.05);
    }
  }
  
}

/* Navbar  */
.navbar-nav .nav-item {
  margin: 0 6px;
}

.navbar h3:hover, .navbar h3:focus, #home i:hover {
  transform: scale(1.2); 
  transition: transform 0.8s ease; 
}


/* Home  ------------------------------------*/
#home{
  display: flex;
  justify-items: center;
  justify-content: center;
  color: var(--branco);

  & h1{
    font-size: 66px;
  }

  & .digitado{
    font-size: 28px;

    & span{
      color: var(--rosa2);
    }
  }

  & strong{
    color: var(--rosa2);
    font-size: 1.3em;
  }
}


/* ------- Sobre ------------------------------------*/

#sobre{
  min-height: 80vh;

  & i, h4, p{
    color: var(--branco);
  }

  & i:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
  }

  & h1 strong, i:hover, p span{
    color: var(--rosa2);
  }

  & p{
    font-weight: 400;
    font-size: 17px;
  }

  & h4 span{
    cursor: pointer;
  }

  & .avatar{
    border-radius: 50%;
    box-shadow: 0 0 15px 3px rgba(129, 33, 208, 0.6); 
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: scaleX(-1);
    transition: top 3s ease-in;

    &:hover{
      box-shadow: 0 0 25px 5px rgba(129, 33, 208, 0.9);
    }
  }
}



/* ------ Habilidades ---------------------*/
#habilidades{ 
  margin-bottom: 30px;

  & .experience-container{
    display: flex;
    flex-direction: column;
  }

  & h2{
    margin-bottom: 30px;
    color: var(--rosa2);
  }
  
  & .card-skills{
    flex-direction: column;
    background-color: var(--card);
    padding: 20px;
    border-radius: 20px;  
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
      border: 1px solid var(--rosa2);
      transform: translateY(-8px);
      transition: all 400ms;
    }

    
    
    & .titulo{
      justify-content: space-between;
      align-items: center;
    }

    & h4, p{
      color: var(--branco);
    }

    & p.local{
      color: var(--rosa2);
    }

    & .estado{
      color: var(--rosa2);
      background-color: rgba(147, 3, 166, 0.12);
      border-radius: 40px;
      padding: 10px;
    }

    
  }

  & .icones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & i{
      color: var(--branco);
      cursor: pointer;
      font-size: 60px;
  
      &:hover{
        color: var(--rosa2);
        transform: scale(1.2);
        transition: transform 0.6s ease;
      }
    }
  }

  
}



/* ------ Projetos ---------------------*/
#projetos{
  & h2{
    color: var(--rosa2);
    text-align: center;
  }

  & .row{
    display: flex;
    justify-content: space-around;
  }

  .card-group {
    gap: 20px; 
    justify-content: center;
  }
  

  & .card-projeto{
    & .card{
      background-color: var(--card);
      border-radius: 24px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      min-width: 280px;
      max-width: 400px;

      &:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 12px var(--rosa2);
      }
    }

    & img{
      height: 300px;
      border-radius: 24px 24px 0 0;
    }

    & .card-body{
      padding: 20px;

      & h5{
        color: var(--rosa2);
        font-weight: 600;
      }
  
      & p{
        color: var(--cinza);
      }
  
      
    }

    
    

    & .card-footer{
      border-top: 1px solid #9303A6;
      background: transparent;
      text-align: center;
      padding: 10px;

      & i{
        color: var(--branco);
        transition: transform 0.5s ease, color 0.3s ease;
  
        &:hover{
          transform: scale(1.05);
          color: var(--rosa2);
        }
      }
    }

    
  }
}



/* Footer / Rodapé */
footer{
  background-color: var(--card);
  margin-top: 40px;
  padding: 20px 10px;

  & hr{
    background-color: var(--branco); 
  }

  
  & .col-md-6{
    & h3{
      color: var(--rosa2);
    }
  
    & i{
      color: var(--branco);

      &:hover{
        color: var(--rosa2);
      }
    }
  
    & p{
      color: var(--branco);
    }
  }

  & .col-md-3{
    display: flex;
    flex-direction: column;
    gap: 12px;

    & h4{
      color: var(--rosa2);
    }

    & a{
      color: var(--branco);
      text-decoration: none;

      &:hover{
        color: var(--rosa2);
      }
    }
  }

 
}





#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Coloca as partículas atrás de outros elementos */
}

.particles-js-canvas-el {
  position: absolute;
  width: 100%;
  height: 100%;
}

