/* Habilidades */

@media (max-width: 992px){
    #habilidades{
        & .card-skills{
            & h4{
                font-size: 18px;
            }
        }

        & .icones{
            margin-top: 20px;
            flex-direction: row;
            
            & i{
                font-size: 40px;
            }
        }
    }
}


@media (max-width: 768px){
    header{
        & h3{
            font-size: 20px;
        }

        & a{
            font-size: 18px;
        }
    }


    #home{
        & h1{
            font-size: 30px;
        }
    }

    #projetos{
        margin-top: 20px;
    }

    footer{
       & .col-md-3{
        margin-top: 40px;
       }
    }




}
